@import "reset.css"; 


p {
	font-family: 'Open Sans', sans-serif;
	line-height: 140%;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
	color: #ffffff;
}


a.link_interni:hover {
	color: #000;
}


@keyframes example {
    0% {background-color: #ffffff;}
    
    30% {background-color: #e3e5ff;}
    45% {background-color: #f2e6ff;}
    55% {background-color: #ffe6fe;}
    
    
    100% {background-color: #ffffff;}
}




div.fascia_menu {
	height: 37px;
}

.cambia_colore {

	background-color: red;
	   -webkit-animation-name: example; /* Chrome, Safari, Opera */
	   -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
	   animation-name: example;
	   animation-duration: 8s;
	   animation-iteration-count: infinite;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 45px; 
    float: right;
}



ul#menu li {
float: right;
}



li a {
    display: block;
		text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}






div#box_centrato {
max-width: 700px;
	min-width: 300px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 150px;
	padding-right: 60px;
	padding-left: 60px;

height: auto;
}






