@import "reset.css"; 


p {
	
	font-family: 'News Cycle', sans-serif;
	font-size: 105%;
	line-height: 140%;
}


p.testo_giustificato {
	text-align: justify;
	line-height: 170%;
	font-size: 115%;
}


h1.titolo_pagina {
font-family: 'News Cycle', sans-serif;
font-weight: 700;
font-size: 120%;
line-height: 140%;
	
}




@keyframes example {
    0% {background-color: #ffffff;}
    30% {background-color: #e3e5ff;}
    45% {background-color: #f2e6ff;}
    55% {background-color: #ffe6fe;}
	 100% {background-color: #ffffff;}
}



.cambia_colore {

	background-color: red;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
	animation-name: example;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}




div.fascia_menu {
	position: fixed;
	height: 85px;
	width: 100%;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
	animation-name: example;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	opacity: 0.9;
	z-index: 10;
}



div.fascia_sfumatura_header {
	position: fixed;
	height: 85px;
	width: 100%;
	z-index: 2;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, rgba(255, 255, 255, 1)), color-stop(0.998, rgba(255, 255, 255, 0)));
	}


div.fascia_sfumatura_footer {
	position: fixed;
	height: 85px;
	width: 100%;
	z-index: 2;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, rgba(255, 255, 255, 1)), color-stop(0.998, rgba(255, 255, 255, 0)));
	}







div#box_centrato {
	max-width: 600px;
	min-width: 300px;
	margin: 0 auto;
	margin-bottom: 150px;
	padding-right: 10px;
	padding-left: 10px;
	height: auto;
	
	z-index: 5;
}




a.collegamenti_menu:link {
    color: #000;
    text-decoration: none;
}

a.collegamenti_menu:hover {
	color: #cbcbcb;
	background-color: #e8e8e8;
}


a.collegamenti_interni:link {
    color: #407bf5;
    text-decoration: underline;
}

a.collegamenti_interni:hover {
	color: #fe9809;
}







ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    float: right;
}



ul#menu li {
	float: right;
}



li a {
    display: block;
		text-align: center;
    padding: 21px 8px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #e8e8e8;
}

.active {
    background-color: #cbcbcb;
}


#indirizzo {

	float: left ; 
	margin-left: 27px; 
	margin-top: 23px
	
}



div#footer {
text-align: center;
	position: fixed;
	  height: 40px;
	  width: 100%;
	  bottom: 0;
	  font-size: 70%;
	  padding-top: 20px;
	 -webkit-animation-name: example; /* Chrome, Safari, Opera */
	  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
	  animation-name: example;
	  animation-duration: 8s;
	  animation-iteration-count: infinite;
	  opacity: 0.9;
	  
}






@media only screen and (max-width: 700px) {



#indirizzo {
	display: none;
}


}